* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

header {
    z-index: 1;
}

header .elastic-bar {
    background: rgba(255, 255, 255, .3);
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

header .elastic-bar > li {
    border-radius: 8px;
    list-style: none;
    padding: .5em;
    margin: .5em;
}

header .elastic-bar li a{
    text-decoration: none;
    color: inherit;
    font-family: Ubuntu;
    padding: .5em;
}

header .elastic-bar > li:hover {
    background: rgba(255, 255, 255, .5);
}

.container {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131,58,180);
    transition: .5s ease-in-out all;
}

#intro {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding-top: 3em;
}

#resume {
    padding-top: 5em;
    background: rgba(252,176,69,1);
}

#resume .about .text {
    font-family: Ubuntu;
    font-size: 20px;
    background: rgba(255,255,255,.3);
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    color: black;
}

#projects {
    padding-top: 4em;
    background: rgba(255,29,29,1);
}

#articles {
    padding-top: 4em;
}

.slide{
    left: 0 !important;
}

.avatar {
    max-width: 500px;
    clip-path: circle(8em);
}

.name, .degree {
    font-family: Ubuntu;
    color: white;
}

.projects-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project{
    background: rgba(252,176,69,.3);
    color: white;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    transition: .4s;
    overflow: hidden;
}

.project-img {
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.project:hover {
    background: rgba(252,176,69,.5);
}

@media only screen and (max-device-width: 824px) {
    #resume .about .text {
        margin-left: 1em;
        margin-right: 1em;
    }
}