* {
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131,58,180);
    transition: .5s ease-in-out all;
}

#intro {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#resume {
    left: 100vw;
    background: rgba(252,176,69,1);
}

#resume .about .text {
    font-family: Ubuntu;
    font-size: 20px;
    background: rgba(255,255,255,.3);
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    color: black;
}

#projects {
    left: 200vw;
    background: rgba(255,29,29,1);
}

#articles {
    left: 300vw;
}

.slide{
    left: 0 !important;
}

.avatar {
    max-width: 500px;
    clip-path: circle(8em);
}

.name, .degree {
    font-family: Ubuntu;
    color: white;
}

.navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.projects-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project{
    background: rgba(252,176,69,.3);
    color: white;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    transition: .4s;
    overflow: hidden;
}

.project-img {
    border-radius: 8px;
    max-width: 400px;
}

.project:hover {
    background: rgba(252,176,69,.5);
}